.error {
  text-align: center;
}
.error button {
  background-color: #4ec5e6;
  color: white;
  font-size: 1em;
  padding: 1em;
  border: 0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}